


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold">Subjects</h1>

    <%= link_to new_subject_path, class: button_class(theme: "primary") do %>
    Add New Subject
    <% end %>
  </div>

  <table class="table-auto border-collapse border-slate-400 w-full">
    <thead class="bg-slate-50 dark:bg-slate-700">
      <tr>
        
          <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Name</th>
        
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Description</th>
                
      </tr>
    </thead>

    <tbody>
      <% @subjects.each do |subject| %>
      <%= content_tag :tr, id: dom_id(subject), class: dom_class(subject) do %>
      
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= link_to subject.name, subject %></td>
      

              <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= subject.description %></td>
      
      
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
